
# System
.DS_Store
*.swp
*.swo

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager
.build/

# Logs
*.log
*.txt
crash_logs/

# Secrets & Keys (User Specific)
Secrets.xcconfig
*.xcconfig
Algo-Trading/Services/ChironLLMAdapter.swift
Algo-Trading/Services/GroqClient.swift
*.sqlite
*.sqlite.zip
*TradeHistory*.json

# SQLite databases
*.sqlite
*.sqlite2
*.sqlite3
ArgusScience*

# Large data files  
Argus_*.json

ArgusRunnerCLI2
*.zip
TestRunner
