<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Argus</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>TWELVE_DATA_KEY</key>
	<string>$(TWELVE_DATA_KEY)</string>
	<key>FMP_KEY</key>
	<string>$(FMP_KEY)</string>
	<key>FINNHUB_KEY</key>
	<string>$(FINNHUB_KEY)</string>
	<key>TIINGO_KEY</key>
	<string>$(TIINGO_KEY)</string>
	<key>MARKETSTACK_KEY</key>
	<string>$(MARKETSTACK_KEY)</string>
	<key>GROQ_KEY</key>
	<string>$(GROQ_KEY)</string>
	<key>ALPHA_VANTAGE_KEY</key>
	<string>$(ALPHA_VANTAGE_KEY)</string>
	<key>EODHD_KEY</key>
	<string>$(EODHD_KEY)</string>
	<key>GEMINI_KEY</key>
	<string>$(GEMINI_KEY)</string>
	<key>DEEPSEEK_KEY</key>
	<string>$(DEEPSEEK_KEY)</string>
	<key>FRED_KEY</key>
	<string>$(FRED_KEY)</string>
	<key>SIMFIN_KEY</key>
	<string>$(SIMFIN_KEY)</string>
	<key>PINECONE_KEY</key>
	<string>$(PINECONE_KEY)</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Argus requires microphone access to hear your commands.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Argus uses speech recognition to analyze your voice commands.</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
